
.blogPost {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color:#4CAF50 ;
    opacity: 0.92;
    }
    
.blogPostBtn {
    display: block;  
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px ;
    font-weight: bold;
    cursor:help;
    }
    
.blogTextBody{

    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 15px;
    }
    
    
    @media (min-width: 768px) {
    
.blogPost {
    width:95% ;
    }

.blogSectionBtn {
    display: inline-block; 
    }
}
