.home {
    text-align: center;
    min-height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    }

.selectionBar{
      width: 100%;
    }
    
    @media (min-width: 350px) {
.selectionBar{
        width: 250px;
      }
}
    @media (min-width: 768px) {
.home {
      font-size: 25px;
    }

  }